apiVersion: v1
kind: Service
metadata:
  name: pong-centrifugo
  namespace: pong
spec:
  type: LoadBalancer
  selector:
    app: pong-centrifugo
  ports:
  - name: http
    port: 8000
    targetPort: 8000
