name: Terraform Apply

on:
  push:
    branches: [ "main" ]
    paths:
      - "terraform/**"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  apply:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: |
          terraform plan \
            -var="centrifugo_secret=${{ secrets.CENTRIFUGO_SECRET }}" \
            -var="centrifugo_api_key=${{ secrets.CENTRIFUGO_API_KEY }}" \
            -var="frontend_bucket_name=${{ secrets.FRONTEND_BUCKET_NAME }}"

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: |
          terraform apply -auto-approve \
            -var="centrifugo_secret=${{ secrets.CENTRIFUGO_SECRET }}" \
            -var="centrifugo_api_key=${{ secrets.CENTRIFUGO_API_KEY }}" \
            -var="frontend_bucket_name=${{ secrets.FRONTEND_BUCKET_NAME }}"
